$co1: #6dbf5c
$co2: #43885a
$co3: #5e455f
$co3h: #2f242f
$co4: #fffbe8
$co4h: #d3baa8
$co5: #ef6759
$co5h: #d23c38
$co6: #6ac3c0

.core
  background: $co1
  color: $co5
  width: 100vw
  max-width: 400px
  padding: 15px
  box-sizing: border-box

.display
  width: 100%
  height: 250px

  .display-item
    display: inline-block
    vertical-align: top
    height: 100%

  .display-inner
    display: inline-block
    box-sizing: border-box
    background: $co3
    text-align: left
    vertical-align: top
    padding: 5px 10px
    border-radius: 2px
    transition: .3s ease

    & > .title
      text-align: center
      font-size: 12px
      color: $co4

    .info
      display: inline-block
      font-size: 12px
      color: $co4
      vertical-align: super
      width: 60px

      .title
        font-size: 14px

      .sub
        font-size: 12px
        opacity: .7

    .view
      background: $co3h
      display: inline-block

      .info
        position: absolute
        left: 50%
        top: 45%
        transform: translate(-50%, -50%)
        font-size: 18px
        width: 100%

        &.countDown
          font-size: 100px
          font-weight: bold
          display: none

          &.act
            display: inline-block

    canvas
      vertical-align: bottom
      box-sizing: border-box
      display: none


  .display-main
    margin-right: 15px
    width: 65%

    .display-inner
      width: 100%
      height: 100%
      position: relative
      text-align: center

      .title
        position: absolute
        left: 50%
        transform: translateX(-50%)

      .view
        display: inline-block
        height: calc(100% - 30px)
        width: 100%
        overflow: hidden

        .view-content
          background: $co3h

      #no-webcam
        display: none

      video
        height: 100%
        width: auto
        display: inline-block
        margin: 0
        padding: 0
        vertical-align: bottom
        transform: scaleX(-1)
        mix-blend-mode: lighten
        opacity: .2
        filter: blur(1px)


  .display-sub
    width: calc(35% - 15px)

    .display-inner
      width: 100%

    ul
      position: relative
      height: 100%

    li
      height: calc(250px / 4 - 8px)
      margin-bottom: 10px

      &:last-child
        margin-bottom: 0
        position: absolute
        bottom: 0
        width: 100%

      .view
        margin-right: 15px

.panel
  margin-top: 15px
  background: $co4
  padding: 15px
  border-radius: 3px
  color: $co4
  box-sizing: border-box
  width: 100%
  display: none
  transition: .3s ease

  .function-group
    display: none

    &.act
      display: block

  &.disable
    touch-action: none
    pointer-events: none
    opacity: .8

  .check-groups
    margin-bottom: 15px

    .check
      background: $co4h
      padding: 0 10px
      border-radius: 3px
      margin-right: 10px

      &:last-child
        margin-right: 0

      label
        font-size: 12px
        margin-left: 5px

  .panel-groups

    .button
      cursor: pointer
      display: inline-block
      background: $co3
      margin-right: 10px
      margin-bottom: 10px
      padding: 5px 0px
      border-radius: 3px
      font-size: 12px
      text-align: center
      color: #f1f1f1cc
      width: calc(50% - 5px)

      input
        margin-left: 5px
        vertical-align: inherit

      &:active
        background: $co3h

      &:nth-child(even)
        margin-right: 0

  .panel-button
    box-sizing: border-box
    cursor: pointer
    display: inline-block
    background: $co5
    padding: 15px 0
    width: 100%
    margin-top: 10px
    text-align: center
    border-radius: 3px
    &.hidden
      display: none
    &.disable
      display: none

    span
      display: none

      &:first-child
        display: inline-block

    &.act
      background: $co5h

      span
        &:first-child
          display: none

        &:last-child
          display: inline-block

    &:active
      background: $co5h


[data-active="up"] #display_up, [data-active="left"] #display_left, [data-active="right"] #display_right, [data-active="down"] #display_down
  background: $co5h
